.assets,
.handle {
  border: 1px solid #ebedf0;
}

.assets {
  display: flex;
}

.assets .menu {
  padding: 18px 0;
  width: 50px;
  overflow-y: scroll;
  border-right: 1px solid #ebedf0;
}

.assets .menu i {
  width: 100%;
  font-size: 20px;
  margin-bottom: 18px;
}

.assets .svgs {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
}

.assets .svgs svg {
  width: 100%;
  height: auto;
  border: 1px solid #ebedf0;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}

.handle {
  display: flex;
  flex-direction: column;
}

.handle header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebedf0;
  padding: 10px 20px;
  font-size: 18px;
}

.handle .canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.canvas-container .canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  border: 2px dashed #ebedf0;
  height: 90%;
}

.canvas-container .canvas svg {
  width: 100%;
  height: 100%;
}